<h1>Edit category</h1>

<%= link_to "show category",  categorys_path %>

<%= form_with model:  @category do |form|%>
        <div>
          <%= form.label :name %><br>
          <%= form.text_field :name %>
        </div>
      
       

        <div>
          <%= form.submit %>
        </div>

    <% end %>